# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Env / secrets
.env
.env.*
!.env.example
*.pem
*.key

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
crash.log
override.tf
override.tf.json

# Postgres local data
pgdata/

# Docker
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store

# Helm
**/charts/*.tgz
